<button class="sk" routerLink="/user">Back</button>
<div class="container text-center">
</div>
<div class="container">
  <div class="row">
    <div class="search-hero">
      <input class="form-control" type="text" class="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or hotelHome or hotelAddress">
    </div>
    <table border="2px" black>
      <thead>
      <tr>
          <th>Id</th>
          <th>Owner Name</th>
          <th>Hotel Name</th>
          <th>Menu</th>
          <th>Room Available</th>
          <th>Hotel Address</th>
          <th>Hotel Mobile</th>
          <th>Book</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of apidata1">
          <td>{{data.id}}</td>
          <td>{{data.userName}}</td>
          <td>{{data.hotelName}}</td>
          <td>{{data.hotelMenu}}</td>
          <td>{{data.roomAvailable}}</td>
          <td>{{data.hotelAddress}}</td>
          <td>{{data.hotelMobile}}</td>
          <td><button type="button" style="color: blue;"  routerLink="/user/hotelbooking">BOOK NOW</button></td>    
      </tr>
      </tbody>
    </table>
  </div>
</div>
