
.container{
    background-image: url('~src/assets/chair4.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    font-family: montserrat;
    width: 100%;
    height: 100%;
    position:absolute;
}
.sw{
    margin-left: 15px;
    
}