
.container{
    background-image: url('~src/assets/water.jpeg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    position: absolute; 
}
.main{
    width: 250px;
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(225, 227, 117);
    background: linear-gradient(90deg,#a0a7a0 0%,rgb(107, 75, 222)100%);
}
.sw{
    outline: none;
    width: 80%;
    border: 1px solid #a0a7a0;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}
.km{
    color: red;
}
.button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 92%;
    background: #2e04c7;
    border-top: 1px;

}
.button:hover{
    background: rgba(117, 192, 220, 0.877)
}
.sw:focus{
    border: 1px solid rgb(192, 192, 192);
}
.mak{
    text-align: center;
    color: white;
    font-size: 19px;
}