



.ck{
width: 150px;
  height: 40px;
  font-size: 20px;
  font-family: sans-serif;
  background-color: rgb(3, 50, 50);
  color: antiquewhite;
  border: 0;
  margin-top: 20px;
  box-shadow: 2px 2px lightgray;
  margin-left: 15px;
}